.header {
	padding: 30px;
	background-color: #333333;
	text-align: center;
	color: white;
	font-family: "tahoma";
	font-size: 30px;
}


p {
	width: 900px;
}

img {
	width: 100%;

}

.box {
	width: 75%;
	height: 200px;
	margin-bottom: 20px;
	font-size: 40px;
}

.show-desktop {
	display: block;
}

.show-mobile {
	display: inline-block;
}

@media (max-width: 600px) {
	.show-desktop {
		display: none;
	}
	.show-mobile {
		display: block;
	}
}